.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
#title {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-text {
    text-align: center;
    color: #66bfbf;
    
}
h1{
   font-size: 5rem; 
   font-family: "Sacramento", cursive;
   font-weight: bold;
   unicode-bidi: isolate;
}
h2{
    display: block;
    text-align: center;
    font-family: "Sacramento", cursive;
    font-size: 2.2rem;
    font-weight: normal;
    unicode-bidi: isolate;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #66bfbf
    
}
.pro {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
}
.photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.middle-container {
    padding-top: 100px;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
body {
    font-family: "Merriweather", serif;
    color: #40514e;
    margin: 0;
    text-align: center;
}
.intro {
    width: 70%;
    margin: auto
}
p {
    line-height: 2;
    font-size: large;
}
.card-cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bottom-container {
    padding-top: 2px;
    background-color: #66bfbf;
    padding-bottom: 5px;
}
.bottom-container a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 0 20px;
    text-decoration: none;
}
.bottom-container a:hover {
    color:  #ffffff;
}
.bottom-container p {
    text-align: center;
    color: #ffffff;
}
.contact {
    padding-bottom: 100px;
    
}
.btn {
    color: #ffffff;
    font-size: 20px;
    background: #11999e;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom, #11cdd4, #11999e);
    margin-top: 20px;
}




